<!--<p>puntos-ventas-mx works!</p>-->

<div class="row mx-auto text-center justify-content-center">
  <div class="col mt-3 pt-3">
    <h1>
      Encuentra Rompope Carmelita
    </h1>
    <p>Descubre los puntos de venta y consumo más cercanos en el mapa.</p>
    <button class="btn btn-primary">
      <a mat-flat-button
        href="https://www.google.com/maps/d/u/0/viewer?mid=1CU3usEZ68PQ5g31Wkarzs92lA2wEyGOx&ll=19.03480685494255%2C-98.23021595&z=17"
        target="_blank">
        Ver mapa completo <i class="fas fa-location-arrow right"></i>
      </a>
    </button>
  </div>
  <img src="../../../assets/img/puntos-ventas-mexico/mapa-mexico-carmelita.png" width="500" height="500"
    class="img-fluid mt-2 px-5 mr-5 mx-5 d-block" alt="Mapa de Rompope Carmelita en México">
  <a>
    <div class="mask rgba-white-light" mdbWavesEffect></div>
  </a>
</div>

<!-- Footer Elements -->
<div class="container">

  <!--Grid row-->
  <div class="row row-cols-2">

    <!--Grid column-->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/costco-mexico.png" class="img-fluid" alt="Logo de Costco">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/mercado-dulces.png" class="img-fluid"
          alt="Logo del mercado de dulces Morelia - by ROBEMEX">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/panoli.png" class="img-fluid" alt="Logo de Panoli">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/city-market.png" class="img-fluid" alt="Logo de City Market">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/fresko.png" class="img-fluid" alt="Logo de Fresko">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/la-comer.png" class="img-fluid" alt="Logo de la Comer">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/happygo.png" class="img-fluid" alt="Logo de Happy Go">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/cristalita.png" class="img-fluid"
          alt="Logo de La Cristalita">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-mexico/maxstore-mexico.png" class="img-fluid"
          alt="Logo de Max Store México">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</div>