<!-- <p>puntos-ventas-eua works!</p> -->
<div class="row mx-auto text-center justify-content-center">
  <div class="col mt-3 pt-3">
    <h1>
      Encuentra Rompope Carmelita
    </h1>
    <p>Descubre los puntos de venta y consumo más cercanos en el mapa.</p>
    <button class="btn btn-primary" >
    <a mat-flat-button  href="https://www.google.com/maps/d/u/0/viewer?mid=1G1_PQYw3tq5GUMHrsJMLXgUfUTC_Xs-0&ll=0%2C0&z=6" target="_blank">
      Ver mapa completo <i class="fas fa-location-arrow right"></i>
    </a>
    </button>
  </div>
  <img src="../../../assets/img/puntos-ventas-eua/mapa-eua-carmelita.png" width="500" height="500"
    class="img-fluid mt-2 px-5 mr-5 mx-5 d-block" alt="Mapa de Rompope Carmelita en Estados Unidos">
  <a>
    <div class="mask rgba-white-light" mdbWavesEffect></div>
  </a>
</div>
  <!-- Footer Elements -->
<div class="container mt-2">

  <!--Grid row-->
  <div class="row row-cols-2">

    <!--Grid column-->
    <div class="col-lg-2 col-md-12 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-eua/costco-eua.png" class="img-fluid" alt="Logo de Costco">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-eua/la-superior.png" class="img-fluid"
          alt="Logo de la Superior">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-2 col-md-6 mb-4">

      <!--Image-->
      <div class="view overlay z-depth-1-half">
        <img src="../../../assets/img/puntos-ventas-eua/chavez.png" class="img-fluid" alt="Logo de Chavez Supermarket">
        <a>
          <div class="mask rgba-white-light" mdbWavesEffect></div>
        </a>
      </div>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->
  
  </div>